/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

// CONFIG
#define COMBO_TIMEOUT 70
#define COMBO_TIMEOUT_ADJ 30
#define COMBO_LAYERS 0
#define STICKY_TIMEOUT 900

// LEFT SIDE
#define TLI 13 // TOP
#define TLM 12 // TOP
#define TLR 11 // TOP
#define TLP 10 // TOP
#define BLI 23 // BOTTOM
#define BLM 22 // BOTTOM
#define BLR 21 // BOTTOM
#define BLP 20 // BOTTOM
#define LOT 31 // O-THUMB
#define LIT 30 // I-THUMB

// RIGHT SIDE
#define TRI 16 // TOP
#define TRM 17 // TOP
#define TRR 18 // TOP
#define TRP 19 // TOP
#define BRI 26 // BOTTOM
#define BRM 27 // BOTTOM
#define BRR 28 // BOTTOM
#define BRP 29 // BOTTOM
#define ROT 32 // O-THUMB
#define RIT 33 // I-THUMB

&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
};

/ {
  combos {
    compatible = "zmk,combos";
    #include "taipo.dtsi"

    combo_bootloader_l {
      timeout-ms = <COMBO_TIMEOUT>;
      bindings = <&bootloader>;
      key-positions = <4 14>;
    };

    combo_bootloader_r {
      timeout-ms = <COMBO_TIMEOUT>;
      bindings = <&bootloader>;
      key-positions = <5 15>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &none           &none            &none             &none            &none                 &none            &none            &none            &none            &none
        &none           &none            &none             &none            &none                 &none            &none            &none            &none            &none
        &none           &none            &none             &none            &none                 &none            &none            &none            &none            &none
                                                           &none            &none                 &none            &none
      >;
    };
  };
};
